.custom-card {
  border: none;
}

.custom-nav-bar {
  background-color: #00013a;
}

.nav-brand {
  color: #e7e721 !important;
}

.btn-primary {
  background-color: #23aaca;
  border: #23aaca solid 1px;
}

.btn-primary:hover {
  background-color: #010039;
  border: #010039 solid 1px;
}

.btn-danger {
  background-color: #f36525;
  border: #f36525 solid 1px;
}

.btn-danger:hover {
  background-color: #ffff;
  color: #f36525;
  border: #f36525 solid 1px;
}

.btn-warning {
  background-color: #e7e721;
  border: #e7e721 solid 1px;
}

.custom-font-good {
  color: #23aaca;
}

.custom-font-bad {
  color: #f36525;
}
